@model asp8.ViewModel.Bag

<p>View Principal</p>
<hr />

<p>Nome: @Model.humano.nome @Model.humano.apelido</p>
<p>Carro: @Model.automovel.marca - @Model.automovel.cor</p>

<hr />

<partial name="_parcial"/>