<div class="container-fluid navegacao p-3 text-right">
    <a asp-controller="Home" asp-action="index">Início</a> |
    <a asp-controller="Servicos" asp-action="index">Serviços</a> |
    <a asp-controller="Contacto" asp-action="index">Contacto</a> 
</div>